.stilizedFooter {
    position: fixed;
    bottom: 0;
    width: 98%;
    height: 50px;
    background-color: #048bd3;
    padding: 0 1%;
    bottom: 0;
    left: 0;
    text-indent: 35px;
}

.stilizedFooter div {
    display: inline-block;
    width: 32.9%;
    color: #fff;
}

.stilizedFooter span {
    color: #fff;
    padding-top: 3px;
    font-size: 40px;
    padding-bottom: 10px;
}

.stilizedFooter a {
    color: #fff;
    text-decoration: none;
    line-height: 19px;
    font-size: 16px;
    font-weight: 300;
    padding: 5px;
    transition: 0;
}
