.noticias {
    background-color: rgb(40,148,244);
    width: 20%;
}

.cultura {
    background-color: rgba(233,30,99,255);
    width: 40%;
}

.coroIta {
    background-color: rgb(80,172,84);
    width: 60%
}

.publi {
    background-color: rgb(256,236,60);
    color: black;
    width: 50%
}

.noticias, .cultura, .coroIta {color: #fff}

.noticias, .cultura, .coroIta, .publi {
    display: block;
    padding: 5px;
    margin: 5px 5px 10px 5px;
}
.imgH{
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.imgAd {
    display: flex;
    width: 80%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.text {
    display: block;
    margin: 5% 10%;
    color: #24a4e4;
    text-decoration: none;
    font-size: 16px;
    
}

.text:hover {
    display: block;
    margin: 5% 10%;
    color: #24a4e4;
    text-decoration: underline;
    font-size: 16px;

}

.fButton {
    width: auto;
    display: block;
    padding: 5% 42%;
    color: #24a4e4;
    text-decoration: none;
    font-size: 16px;
    bottom: 0;
    position: absolute;
    bottom: 0;
   
}

.fButton:hover {
    background-color: rgb(219, 219, 219);
}

.line {
    box-shadow: 0px 8px 4px -5px rgba(0,0,0,0.36);
}

.divHeight {
    height: 375px;
    position: relative;
}

.home span {
    display: inline-block;
}

.home div a {
    display: block;

}

.subVagas {
    background-color: rgb(8,84,156);
}

.subClassificado {
    background-color: rgb(8,76,60);
}

.subCurriculos {
    background-color: #e65100;
}

.subVagas, .subClassificado, .subCurriculos {
    display: block;
    position: relative;
    width: 97%;
    height: 175px;
    padding-top: 50px;
    box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.4);
}

.vagas, .classificado, .curriculos {
    display: block;
    position: relative;
    color: rgb(219, 219, 219);
    text-align: center;
    font-size: 40px;
    padding: 10px 0;
}

.vagas span, .classificado span, .curriculos span {
    display:block;
    padding-bottom: 20px;
}

.verVagas {
    background-color: rgb(8,84,156);
}

.verClass {
    background-color: rgb(8,76,60);
}

.verCurri {
    background-color: #e65100;
}

.verVagas:hover {
    background-color: rgb(8, 78, 143);
}

.verClass:hover {
    background-color: rgb(7, 66, 52);
}

.verCurri:hover {
    background-color: rgb(219, 79, 3);
}

.cadastroDes {
    background-color: rgb(256,148,4);
}

.cadastroGratis {
    background-color: rgb(80,180,84);
}

.cadastroDes:hover {
    background-color: rgb(245,138,-10);
}

.cadastroGratis:hover {
    background-color: rgb(70, 158, 73);
}

.classificado a, .vagas a, .curriculos a {
    text-decoration: none;
    color: #fff;
    width: 97%;
    font-size: 15px;
    margin-top: 3px;
    box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.4);
    padding: 8px 0;
}