@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

main {
    padding: 50px 0px
}
