nav {
    background-color: #048bd3;  
    width: 98%;
    height:94px;
    padding: 0px 1%;  
}

nav ul li{
    display: inline-block;
    padding: 25px 6px;
}

nav ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 6px;
    font-size: 22px;
    font-weight: 500;
    transition: 0;
    text-align:center;
    border-radius: 50px;
}

nav ul li a span, nav ul li a i {
    display: block;
}

nav ul li a i {
    font-size: 16px;
}

 nav ul {
    padding-right: 10%;
}

nav ul li a:hover{
    background-color: rgb(0, 204, 170);
    color: rgb(8,140,212);
    transition: 125ms ease-in-out
}

 nav .logo{
    position: absolute;
    left: 20%;
    top: -15px;
    color: #fff
}

