.noticias div span {
    display: inline-block;
    width: 74%;
}
.noticias div a {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

#listaNotis div {
    border-bottom: 1px solid gray;
    list-style-type: none;
    padding: 10px 0;
}

#listaNotis a {
    text-decoration: none;
    color:  #048bd3;
}

#listaNotis span {
    color: rgba(119, 119, 119, 0.781);
    text-align: justify ;
}

#listaNotis {
    padding: 0;
}

