.right {
    float: right;
}

.left {
    float: left;
}

.txtRight {
    text-align: right;
}

.p5t {
    padding-top: 5px;
}

.p10t {
    padding-top: 10px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p3cl {
    padding-left: 3%;
}

.p25b {
    padding-bottom: 25px;
}

.isize {
    font-size: 25px;
}

.underSize {
    font-size: 30px;
}

.overSize {
    font-size:50px;
}